<!DOCTYPE html>
<html>
	<head>

	
	</head>
	
	<body>
		<p> You Recieved an email from the test Contact form, from <%= "#{@name}, #{@email}." %></p>
		<p><%= @body %></p>
	
	</body>

</html>